.vk_consult_image img{
	bottom: -98px !important;
}
.vk_pulse_wrapper{
	bottom: -98px !important;
}
.product_block_img{
	bottom: 0 !important;
}
.header_product .header_phones{
	bottom: -24px;
}
.header_product .vk_consult_image img{
	bottom: 0 !important;
}
.header_product .vk_pulse_wrapper{
	bottom: 0 !important;
}